@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.leaderboardContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 944px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.leaderboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.leaderboardTitle{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
}

.leaderboardButton {
  background-color: #7ac100;
  width: 246px;
  height: 50px;
  border-radius: 12px;
  border-width: 0px;
  opacity: 1px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
}

.leaderboardButton:hover {
  cursor: pointer;
  background-color: #97de1e;
}

.leaderboardSection {
  background-color: #FFFFFF;
  border-radius: 12px;
  display: flex;
  padding: 16px 20px;
  justify-content: space-between; 
  gap: 66px;
  position: relative; 
}

.leaderbordText {
    color: rgb(153, 153, 153);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
   
}
.leaderboardPosition {
  width: 178px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #999999;
}
.leaderboardUser {
  width: 227px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #999999;
}
.leaderboardAchievement {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #999999;
}

.leaderboardTime {
  width: 194px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #999999;
}







